<!--%= url_for(:controller=>:tables,:action=>:data_tables,:pa1=>'123',:pa2=>'456') %-->
<!--%= url_for(controller: 'tables', action: 'data_tables', pa1: '123', pa2: '456') %-->
<!--%= url_for(action: 'get_chart_data', pa1: '123入门示例', pa2: '456毛衫') %-->
<div id="test_2" style="min-width: 500px;min-height: 500px;margin: auto;object-fit: fill;">
    aabbcc</div>
<% content_for :scripts do %>
    <script>
    $(document).ready(function() {
        load_echart();

    });

    function load_echart() {
        // alert('load_echart');
        $.ajax({
            url: encodeURI("<%= url_for(action: 'get_chart_data', pa1: '123入门示例', pa2: '456毛衫') %>"),
            type: "GET",
            dataType: "json",
            success: function(result) {
                // alert(result);
                //eChart
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('test_2'));
                // 指定图表的配置项和数据
                var option = {
                    baseOption: {
                        title: {
                            text: result.title
                        },
                        tooltip: {},
                        legend: {
                            data: ['销量']
                        },
                        xAxis: {
                            data: result.x_data
                        },
                        yAxis: {},
                        series: [{
                            name: '销量',
                            type: 'bar',
                            data: result.y1_data
                        }]
                    }
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);

                document.getElementById('test_2').addEventListener("click", myFunction);
                
            }
        });
    }

    function myFunction(){
        var myChart = echarts.init(document.getElementById('test_2'));
        myChart.resize();
    }
    </script>
    <% end %>