<!--%= url_for(:controller=>:tables,:action=>:data_tables,:pa1=>'123',:pa2=>'456') %-->
<!--%= url_for(controller: 'tables', action: 'data_tables', pa1: '123', pa2: '456') %-->
<!--%= url_for(action: 'get_chart_data', pa1: '123入门示例', pa2: '456毛衫') %-->
<div id="echart_pro_income_ratio" style="min-width: 500px;min-height: 500px;margin: auto;object-fit: fill;">
    echart 进料合格率</div>
<% content_for :scripts do %>
    <script>
    $(document).ready(function() {
        load_echart();

    });

    function load_echart() {
        // alert('load_echart');
        $.ajax({
            url: encodeURI("<%= url_for(controller: 'pro',action: 'get_echart_data_income_ratio', pa1: '---进料合格率---', pa2: '---(合格批数/采购到货总检验批数)×100%---') %>"),
            type: "GET",
            dataType: "json",
            success: function(result) {
                // alert(result);
                //eChart
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('echart_pro_income_ratio'));
                // 指定图表的配置项和数据
                var option = {
                    baseOption: {
                        title: {
                            text: result.title
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow', // 默认为可选为：'line' | 'shadow'
                                label: {
                                    show: true
                                }
                            }
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: { show: true },
                                dataView: { show: true, readOnly: false },
                                magicType: { show: true, type: ['line', 'bar'] },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        legend: {
                            data: ['合格率']
                        },
                        xAxis: {
                            data: result.x_month
                        },
                        yAxis: {
                            name: '(%)'
                        },
                        series: [{
                            name: '合格率',
                            type: 'bar',
                            data: result.y_billing_data
                        }]
                    }
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);

                document.getElementById('echart_pro_income_ratio').addEventListener("click", myFunction);

            }
        });
    }

    function myFunction() {
        var myChart = echarts.init(document.getElementById('echart_pro_income_ratio'));
        myChart.resize();
    }
    </script>
    <% end %>