<!--%= url_for(:controller=>:tables,:action=>:data_tables,:pa1=>'123',:pa2=>'456') %-->
<!--%= url_for(controller: 'tables', action: 'data_tables', pa1: '123', pa2: '456') %-->
<!--%= url_for(action: 'get_chart_data', pa1: '123入门示例', pa2: '456毛衫') %-->
<div id="echart_prod_order_delay_ratio" style="min-width: 500px;min-height: 500px;margin: auto;object-fit: fill;">
    echart 超期工单未结率</div>
<% content_for :scripts do %>
    <script>
    $(document).ready(function() {
        var my_div = document.getElementById('echart_prod_order_delay_ratio');
        // load_echart();
        obj_echart_prod_order_delay_ratio.load_echart(my_div);
        // resize echart when window resize
        $(window).resize(function() {
            this.obj_echart_prod_order_delay_ratio.self_resize(my_div);
        });
    });

    var obj_echart_prod_order_delay_ratio = {
        load_echart: function(obj) {            
            $.ajax({
                url: encodeURI("<%= url_for(controller: 'prod', action: 'get_echart_data_order_delay_ratio', pa1: '---超期工单未结率---', pa2: '---超期工单笔数/总工单笔数---') %>"),
                type: "GET",
                dataType: "json",
                success: function(result) {                    
                    //eChart
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(obj);
                    // 指定图表的配置项和数据
                    var option = {
                        baseOption: {
                            title: {
                                text: result.title
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow', // 默认为可选为：'line' | 'shadow'
                                    label: {
                                        show: true
                                    }
                                }
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: { show: true },
                                    dataView: { show: true, readOnly: false },
                                    magicType: { show: true, type: ['line', 'bar'] },
                                    restore: { show: true },
                                    saveAsImage: { show: true }
                                }
                            },
                            legend: {
                                data: ['未结率']
                            },
                            xAxis: {
                                data: result.x_month
                            },
                            yAxis: {
                                name: '(%)'
                            },
                            series: [{
                                name: '未结率',
                                type: 'bar',
                                data: result.y_billing_data
                            }]
                        }
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);

                }
            });
        },
        self_resize: function(obj) {
            var myChart = echarts.init(obj);
            myChart.resize();
        }
    }
    </script>
    <% end %>